# Node modules (backend)
node_modules/

backend/node_modules/

# Environment variables file
.env

# Frontend node modules
url-shortner-ui/node_modules/

# React build output
url-shortner-ui/build/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Optional: IDE/editor files
.vscode/
.idea/
